 .u-section-1 {
  background-image: none;
  min-height: 810px;
}

.u-section-1 .u-image-1 {
  height: 613px;
  filter: brightness(0.35);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 46px;
  height: 48px;
  margin: -590px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-3 {
  width: 27px;
  height: 47px;
  margin: -47px auto 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -45px calc(((100% - 1140px) / 2) + 918px) 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -35px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 979px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -27px calc(((100% - 1140px) / 2) + 270px) 0 calc(((100% - 1140px) / 2) + 769px);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -28px calc(((100% - 1140px) / 2) + 183px) 0 calc(((100% - 1140px) / 2) + 892px);
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -28px calc(((100% - 1140px) / 2) + 393px) 0 calc(((100% - 1140px) / 2) + 638px);
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 89px;
  height: 144px;
  margin: 459px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 537px;
  height: 597px;
  margin: -451px auto 0 calc(((100% - 1140px) / 2) + -49px);
}

.u-section-1 .u-image-6 {
  width: 129px;
  height: 106px;
  margin: -602px auto 0 calc(((100% - 1140px) / 2) + -18px);
}

.u-section-1 .u-image-7 {
  width: 49px;
  height: 50px;
  margin: -168px auto 0 calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-image-8 {
  width: 37px;
  height: 38px;
  margin: 438px calc(((100% - 1140px) / 2) + 80px) 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: -383px calc(((100% - 1140px) / 2) + -15px) 0 calc(((100% - 1140px) / 2) + 488px);
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 46px calc(((100% - 1140px) / 2) + 472px) 0 auto;
  padding: 10px 39px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -40px calc(((100% - 1140px) / 2) + 311px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 53px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 723px);
    margin-left: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 779px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 269px);
    margin-left: calc(((100% - 940px) / 2) + 570px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -29px;
    margin-right: calc(((100% - 940px) / 2) + 182px);
    margin-left: calc(((100% - 940px) / 2) + 693px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -27px;
    margin-right: calc(((100% - 940px) / 2) + 392px);
    margin-left: calc(((100% - 940px) / 2) + 439px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 440px;
    margin-right: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-1 .u-image-5 {
    width: 455px;
    height: 492px;
    margin-top: -338px;
    margin-left: calc(((100% - 940px) / 2) + -26px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2) + -18px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -143px;
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 418px;
    margin-right: calc(((100% - 940px) / 2) + 124px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -494px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 373px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2) + 231px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 657px;
  }

  .u-section-1 .u-image-1 {
    height: 401px;
    margin-top: 1px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -378px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 53px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 503px);
    margin-left: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 73px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 559px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 159px);
    margin-left: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 72px);
    margin-left: calc(((100% - 720px) / 2) + 583px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 282px);
    margin-left: calc(((100% - 720px) / 2) + 329px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 333px;
    margin-right: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-image-5 {
    width: 384px;
    height: 425px;
    margin-top: -315px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 91px;
    height: 91px;
    margin-top: -500px;
    margin-left: calc(((100% - 720px) / 2) + -49px);
  }

  .u-section-1 .u-image-7 {
    width: 40px;
    height: 41px;
    margin-top: -115px;
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 340px;
    margin-right: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-top: -408px;
    margin-right: calc(((100% - 720px) / 2) + 20px);
    margin-left: calc(((100% - 720px) / 2) + 267px);
  }

  .u-section-1 .u-btn-5 {
    font-size: 1rem;
    margin-top: 34px;
    margin-left: calc(((100% - 720px) / 2) + 267px);
    padding: 7px 33px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1rem;
    margin-top: -34px;
    margin-right: calc(((100% - 720px) / 2) + 149px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -377px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 53px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 323px);
    margin-left: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 439px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 439px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 475px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 192px);
    margin-left: calc(((100% - 540px) / 2) + 239px);
  }

  .u-section-1 .u-image-4 {
    width: 66px;
    height: 108px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-top: -148px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 133px;
    height: 133px;
    margin-top: -345px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: -181px;
    margin-left: calc(((100% - 540px) / 2) + 89px);
  }

  .u-section-1 .u-image-8 {
    width: 26px;
    height: 26px;
    margin-top: 99px;
    margin-right: calc(((100% - 540px) / 2) + 54px);
  }

  .u-section-1 .u-text-6 {
    width: 433px;
    margin-top: -401px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 798px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -287px;
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 119px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -48px;
    margin-right: calc(((100% - 340px) / 2) + 48px);
    margin-left: calc(((100% - 340px) / 2) + 155px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 275px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-image-4 {
    width: 30px;
    height: 49px;
    margin-top: 52px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 366px;
    margin-top: 263px;
  }

  .u-section-1 .u-image-6 {
    width: 78px;
    height: 78px;
    margin-top: -366px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: -119px;
    margin-left: calc(((100% - 340px) / 2) + 60px);
  }

  .u-section-1 .u-image-8 {
    width: 20px;
    height: 21px;
    margin-top: -263px;
    margin-right: calc(((100% - 340px) / 2) + 28px);
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -39px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 38px;
    margin-left: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2) + 21px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 311px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-image-1 {
  width: 272px;
  height: 102px;
  margin: 54px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 285px;
  height: 102px;
  margin: -102px auto 0 285px;
}

.u-section-2 .u-image-3 {
  width: 324px;
  height: 57px;
  margin: -80px 287px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 274px;
  height: 102px;
  margin: -80px 13px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 187px;
    height: 74px;
    margin-top: 74px;
  }

  .u-section-2 .u-image-2 {
    width: 185px;
    height: 64px;
    margin-top: -74px;
    margin-left: 199px;
  }

  .u-section-2 .u-image-3 {
    width: 231px;
    margin-top: -60px;
    margin-right: 303px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -70px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-2 .u-image-1 {
    width: 274px;
    height: 84px;
    margin-top: 44px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 267px;
    height: 84px;
    margin-top: -84px;
    margin-left: 93px;
  }

  .u-section-2 .u-image-3 {
    width: 267px;
    height: 62px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 93px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -75px;
    margin-right: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 241px;
    height: 69px;
    margin-top: -69px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 199px;
    height: 52px;
    margin-top: 29px;
    margin-left: 44px;
  }

  .u-section-2 .u-image-4 {
    width: 270px;
    margin-top: -67px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 17px;
    margin-right: auto;
    margin-bottom: 29px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 94px 0 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 405px;
  height: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 29px;
}

.u-section-3 .u-group-1 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 13px auto 0 1011px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -18px auto 0 2px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 2px;
}

.u-section-3 .u-group-2 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 16px auto 0 1011px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -11px auto 0 2px;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  width: 1083px;
  margin: 6px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 13px auto 0 2px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-3 .u-group-3 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 9px auto 0 1025px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -18px auto 0 15px;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 7px auto 0 14px;
}

.u-section-3 .u-text-10 {
  margin: 19px auto 0 15px;
}

.u-section-3 .u-group-4 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 16px auto 0 1025px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -12px auto 0 14px;
}

.u-section-3 .u-line-4 {
  transform-origin: left center 0px;
  width: 1083px;
  margin: 7px auto 0;
}

.u-section-3 .u-text-13 {
  margin: 13px auto 0 15px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 27px;
}

.u-section-3 .u-group-5 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 0 auto 0 1013px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -18px auto 0 3px;
}

.u-section-3 .u-line-5 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 7px auto 0 2px;
}

.u-section-3 .u-text-16 {
  margin: 19px auto 0 3px;
}

.u-section-3 .u-group-6 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 16px auto 0 1013px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -12px auto 0 2px;
}

.u-section-3 .u-line-6 {
  transform-origin: left center 0px;
  width: 1083px;
  margin: 7px auto 0;
}

.u-section-3 .u-text-19 {
  margin: 13px auto 0 3px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 14px;
}

.u-section-3 .u-group-7 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 0 auto 0 1025px;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -18px auto 0 16px;
}

.u-section-3 .u-line-7 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 7px auto 0 14px;
}

.u-section-3 .u-text-22 {
  margin: 19px auto 0 16px;
}

.u-section-3 .u-group-8 {
  width: 72px;
  min-height: 22px;
  height: auto;
  margin: 16px auto 0 1025px;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-24 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -12px auto 0 14px;
}

.u-section-3 .u-line-8 {
  transform-origin: left center 0px;
  width: 1083px;
  margin: 7px auto 0;
}

.u-section-3 .u-text-25 {
  margin: 13px auto 0 16px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 14px;
}

.u-section-3 .u-group-9 {
  width: 107px;
  min-height: 22px;
  height: auto;
  margin: 9px 14px 0 auto;
}

.u-section-3 .u-container-layout-14 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-text-26 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 -1px;
}

.u-section-3 .u-text-27 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -31px auto 0 16px;
}

.u-section-3 .u-line-9 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 20px auto 0 14px;
}

.u-section-3 .u-text-28 {
  margin: 19px auto 0 16px;
}

.u-section-3 .u-text-29 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px auto 0 14px;
}

.u-section-3 .u-group-10 {
  width: 107px;
  min-height: 22px;
  height: auto;
  margin: -28px 14px 0 auto;
}

.u-section-3 .u-text-30 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 -1px;
}

.u-section-3 .u-line-10 {
  transform-origin: left center 0px;
  width: 1083px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-31 {
  margin: 13px auto 0 16px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 61px auto 60px;
  padding: 10px 48px 10px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-left: 811px;
    height: auto;
  }

  .u-section-3 .u-line-1 {
    height: 3px;
    width: 883px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    margin-left: 811px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    height: 3px;
    width: 883px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 838px;
    height: auto;
  }

  .u-section-3 .u-line-3 {
    width: 910px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    margin-left: 838px;
    height: auto;
  }

  .u-section-3 .u-line-4 {
    width: 910px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-5 {
    margin-left: 838px;
    height: auto;
  }

  .u-section-3 .u-line-5 {
    width: 886px;
    height: 3px;
    margin-left: 0;
  }

  .u-section-3 .u-group-6 {
    margin-left: 838px;
    height: auto;
  }

  .u-section-3 .u-line-6 {
    width: 886px;
  }

  .u-section-3 .u-group-7 {
    margin-left: 840px;
    height: auto;
  }

  .u-section-3 .u-text-21 {
    margin-left: 2px;
  }

  .u-section-3 .u-line-7 {
    width: 912px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-22 {
    margin-left: 2px;
  }

  .u-section-3 .u-group-8 {
    margin-left: 840px;
    height: auto;
  }

  .u-section-3 .u-text-24 {
    margin-left: 0;
  }

  .u-section-3 .u-line-8 {
    width: 912px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-25 {
    margin-left: 2px;
  }

  .u-section-3 .u-group-9 {
    height: auto;
  }

  .u-section-3 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-9 {
    width: 912px;
    margin-left: 0;
  }

  .u-section-3 .u-group-10 {
    height: auto;
  }

  .u-section-3 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-10 {
    width: 912px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: 591px;
  }

  .u-section-3 .u-line-1 {
    width: 663px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 591px;
  }

  .u-section-3 .u-line-2 {
    width: 663px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 618px;
  }

  .u-section-3 .u-line-3 {
    width: 690px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 618px;
  }

  .u-section-3 .u-line-4 {
    width: 690px;
  }

  .u-section-3 .u-group-5 {
    margin-left: 618px;
  }

  .u-section-3 .u-line-5 {
    width: 666px;
  }

  .u-section-3 .u-group-6 {
    margin-left: 618px;
  }

  .u-section-3 .u-line-6 {
    width: 666px;
  }

  .u-section-3 .u-group-7 {
    margin-left: 620px;
  }

  .u-section-3 .u-line-7 {
    width: 692px;
  }

  .u-section-3 .u-group-8 {
    margin-left: 620px;
  }

  .u-section-3 .u-line-8 {
    width: 692px;
  }

  .u-section-3 .u-line-9 {
    width: 692px;
  }

  .u-section-3 .u-line-10 {
    width: 692px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-3 {
    width: 520px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-4 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-5 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-3 .u-group-6 {
    margin-left: 448px;
  }

  .u-section-3 .u-line-6 {
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-7 {
    margin-left: 448px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 16px;
  }

  .u-section-3 .u-line-7 {
    width: 520px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-8 {
    margin-left: 448px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 14px;
  }

  .u-section-3 .u-line-8 {
    width: 520px;
    margin-left: auto;
  }

  .u-section-3 .u-text-25 {
    margin-left: 16px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-9 {
    width: 520px;
  }

  .u-section-3 .u-line-10 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    margin-left: 248px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 248px;
  }

  .u-section-3 .u-line-2 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 248px;
  }

  .u-section-3 .u-line-3 {
    width: 320px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 248px;
  }

  .u-section-3 .u-line-4 {
    width: 320px;
  }

  .u-section-3 .u-group-5 {
    margin-left: 248px;
  }

  .u-section-3 .u-line-5 {
    width: 320px;
  }

  .u-section-3 .u-group-6 {
    margin-left: 248px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-line-6 {
    width: 320px;
  }

  .u-section-3 .u-group-7 {
    margin-left: 248px;
  }

  .u-section-3 .u-line-7 {
    width: 320px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-group-8 {
    margin-left: 248px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 0;
  }

  .u-section-3 .u-line-8 {
    width: 320px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-line-9 {
    width: 320px;
  }

  .u-section-3 .u-line-10 {
    width: 320px;
  }
} .u-section-4 {
  background-image: url("images/45defd9c5a3fa1fd8eb07a607f4cd73dd7358f6e0dfbf2bd836e8dff8037725dae0a5153382701edcd2dd85c26850c0b8c3daf892d07df336d913b_1280.jpg");
  background-position: 50% 31.79%;
  min-height: 330px;
}

.u-section-4 .u-group-1 {
  min-height: 330px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 272px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-list-1 {
    width: 880px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 188px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 208px;
  }

  .u-section-4 .u-list-1 {
    width: 660px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 585px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 156px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 520px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 98px;
  }

  .u-section-4 .u-list-1 {
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 1106px;
  height: 509px;
  margin: -36px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 130px;
  height: 81px;
  margin: -407px auto 0 257px;
}

.u-section-5 .u-group-1 {
  width: 250px;
  height: 250px;
  margin: -53px auto 0 95px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 238px;
  height: 125px;
  margin: 6px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-2 {
  width: 250px;
  height: 250px;
  margin: -253px auto 0 795px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 238px;
  height: 125px;
  margin: 6px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-3 {
  width: 250px;
  height: 250px;
  margin: -247px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 238px;
  height: 125px;
  margin: 6px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 46px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-shape-3 {
  width: 130px;
  height: 81px;
  margin: 28px 106px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 161px;
  height: 161px;
  margin: -64px auto 0 170px;
}

.u-section-5 .u-image-5 {
  width: 47px;
  height: 76px;
  margin: -600px 74px 571px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 95px;
  }

  .u-section-5 .u-shape-1 {
    height: 531px;
    margin-top: -22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -422px;
    margin-left: 209px;
  }

  .u-section-5 .u-group-1 {
    min-height: 250px;
    margin-top: -42px;
    margin-left: 49px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-5 .u-group-2 {
    min-height: 250px;
    margin-top: -250px;
    margin-right: 49px;
    margin-left: auto;
    height: auto;
  }

  .u-section-5 .u-group-3 {
    min-height: 250px;
    margin-top: -250px;
    height: auto;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 33px;
    margin-right: 146px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -65px;
    margin-left: 87px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -642px;
    margin-right: 72px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-shape-1 {
    height: 678px;
    width: 795px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -656px;
    margin-left: 36px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -61px;
    margin-left: 65px;
  }

  .u-section-5 .u-group-2 {
    margin-right: 65px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 66px;
    margin-left: 69px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: -250px;
    margin-right: 223px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -153px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-5 .u-image-5 {
    width: 76px;
    height: 124px;
    margin-top: -291px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-5 .u-shape-1 {
    height: 1128px;
    width: 532px;
    margin-top: -47px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 147px;
    margin-top: -161px;
    margin-right: 123px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -276px;
    margin-left: auto;
  }

  .u-section-5 .u-group-2 {
    margin-top: -880px;
    margin-right: auto;
  }

  .u-section-5 .u-group-3 {
    margin-top: 72px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-3 {
    width: 96px;
    height: 60px;
    margin-top: -624px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 898px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-5 .u-image-5 {
    width: 69px;
    height: 112px;
    margin-top: -1245px;
    margin-right: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 52px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 552px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -842px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 46px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 276px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    width: 43px;
    height: 70px;
    margin-top: -1162px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 540px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 96px 0 0;
}

.u-section-6 .u-image-1 {
  width: 324px;
  height: 216px;
  margin: 96px auto 0 13px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -216px 1px 60px 401px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-6 .u-image-1 {
    height: 231px;
    margin-top: 72px;
    margin-left: 7px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -231px;
    margin-right: 7px;
    margin-left: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin: 47px 70px 58px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin: 20px 0 60px;
  }
} .u-section-7 {
  background-image: url("images/a7fdf806c188992325f1a2e1e3b6996a4fdc0225017078152951c10e0410c008deba8f3fa60528d85b20ddad0a971fb9f698d4a3e8e3b372fd73b6_1280.jpg");
  min-height: 167px;
  background-position: 50% 50%;
}

.u-section-7 .u-group-1 {
  min-height: 167px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 53px 273px 0 776px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  width: 62px;
  height: 62px;
  margin: -36px auto 0 293px;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: -62px 631px 0 376px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  width: 62px;
  height: 62px;
  margin: -36px auto 0 693px;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: -25px auto 0 776px;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  margin: -25px auto 0 376px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 170px;
  }

  .u-section-7 .u-group-1 {
    min-height: 170px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 13px;
    margin-left: 686px;
  }

  .u-section-7 .u-icon-1 {
    height: 61px;
    margin-left: 175px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -61px;
    margin-right: 492px;
    margin-left: 248px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 612px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 686px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: -26px;
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 175px;
  }

  .u-section-7 .u-group-1 {
    min-height: 175px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 86px;
    margin-left: 518px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 134px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 365px;
    margin-left: 208px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 444px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -26px;
    margin-left: 518px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: -25px;
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 228px;
  }

  .u-section-7 .u-group-1 {
    min-height: 228px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 114px;
    margin-right: 204px;
    margin-left: 245px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -97px;
    margin-left: 171px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 145px;
    margin-left: 245px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 25px;
    margin-left: 171px;
  }

  .u-section-7 .u-btn-3 {
    margin-left: 245px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: -86px;
    margin-bottom: 1px;
    margin-left: 245px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 295px;
  }

  .u-section-7 .u-group-1 {
    min-height: 295px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    margin-right: 141px;
    margin-left: 167px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -129px;
    margin-left: 94px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 94px;
    margin-left: 167px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 73px;
    margin-left: 94px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -29px;
    margin-left: 167px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: -126px;
    margin-bottom: 4px;
    margin-left: 167px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 647px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 95px 0 0;
}

.u-section-8 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 9px auto 60px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-4 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-7 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-8 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-10 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-8 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-8 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .u-section-8 .u-slider-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-slider-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 94px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 579px;
    height: auto;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/69940076-f776-408b-8d00-93e98bb778e2.png");
  background-position: 50% 6.7%;
}

.u-section-9 .u-sheet-1 {
  min-height: 324px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 60px 648px 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 648px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 60px 0;
  padding: 10px 48px 10px 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 448px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 228px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 24px;
    margin-left: auto;
  }
}